/* Container */
.questionContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
}
.question { 
  background-color: rgb(233, 243, 253);
  box-shadow: 1px 1px 5px #ECE8E8;
}
/* Header */
.questionHeader {
  align-items: center;
  color: rgb(2, 102, 182);
  font-weight: bold;
}
.single_question_unfollow_header {
  display: flex;
  justify-content: flex-end;
}
.questionHeader .centered_avatar {
  border-right: none;
}
/* Body */
.questionBody {
  background-color: white;
}
.question_empty_space {
  background-color: rgb(233, 243, 253);
  background-clip: padding-box;
  /* padding-right: 11%; */
}
.question_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(121, 121, 122);
  line-height: 20px;
}

.questionContainer .single_question_unfollow_body {
  display: none;
}

/* QUERIES */
@media only screen and (max-width: 767px) {
  .questionContainer {
    width: 100%;
  }
  /* Header */
  .questionHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .questionHeader .single_question_row_left_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 2%;
  }
  .questionHeader .single_question_row_left_item p{
    padding-left: 5%;
  }
  .questionHeader .single_question_row_middle_item p {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
   }
  .single_question_main_question p:nth-child(1) {
    display: none;
  }
  /* Body */
  .questionBody {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: justify;
    line-height: 130%;
  }
  .questionBody .single_question_row_middle_item {
    padding: 3%;
  }
  .question_empty_space {
    display: none;
  }
  .single_question_unfollow_header {
    display: none;
  }
  .questionContainer .single_question_unfollow_body {
    display: inline;
    padding-left: 4%;
    color: rgb(2, 102, 182);
    font-weight: bold;
  }
  .questionBody .votesCounter {
    padding-right: 6%;
  }
  .questionContainer .votes {
    padding-bottom: 5%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
  .questionContainer {
    width: 100%;
  }
  /* Header */
  .questionHeader {
    padding: 2% 2% 2% 1%;
  }
  .single_question_unfollow_header {
    padding-right: 2%;
  }
  .single_question_main_question p:nth-child(1){
    font-size: 1rem;
  }
  .single_question_main_question p:nth-child(2){
    font-size: calc(18rem / 16);
    padding-top: 3%;
  }
  /* Body */
  .question_content{
    padding: 2%;
    padding-bottom: 5%;
  }
  .questionContainer .question_content {
    padding-bottom: 5%;
  }
}

@media only screen and (min-width: 1200px){

  /* Header */
  .questionHeader {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .single_question_unfollow_header {
    padding-right: 6%;
  }
  .single_question_main_question p:nth-child(1){
    font-size: 1rem;
  }
  .single_question_main_question p:nth-child(2){
    font-size: calc(18rem / 16);
    padding-top: 2%;
  }
  /* Body */
  .question_content {
    padding: 2%;
    padding-bottom: 3%;
  }
  .questionContainer .question_content {
    padding-bottom: 5%;
  }
}