.arrows {
  display: flex;
  flex-direction: column;
}
.votes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.votesCounter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 100%;
  color: rgb(64, 75, 81)
}
.votesCounter p {
  font-weight: bold;
  font-style: italic;
}
.votes_number {
  font-style: normal;
}
.votes_number:after {
  content: "\00a0";
}

@media only screen and (max-width: 767px) {
  .votes {
    justify-content: space-between;
    padding-bottom: 5%;
  }
  .arrows {
    padding-left: 5%;
  }
  .votesCounter {
    padding-right: 7%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
  .arrows {
    padding-left: 15%;
  }
  .votesCounter {
    justify-content: flex-start;
    padding-left: 10%;
    padding-top: 5%;
    font-size: calc(14rem / 16);
  }
}

@media only screen and (min-width: 1200px){
  /* Question votes */
  .votes {
    padding-top: 5%;
  }
  .arrows {
    padding-left: 15%;
  }
  .votesCounter {
    padding-right: 30%;
  }
  /* Answer votes */
  .main_answer .votes {
    padding-top: 13%;
  }
  .main_answer .arrows {
    padding-left: 15%;
  }
  .main_answer .votesCounter {
    padding-right: 30%;
  }
}