.arrows {
  display: flex;
  flex-direction: column;
}
.votes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.votesCounter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 100%;
}
 
@media only screen and (max-width: 767px) {
  .votes {
    justify-content: space-between;
    padding-bottom: 5%;
  }
  .arrows {
    padding-left: 5%;
  }
  .votesCounter {
    padding-right: 7%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
  .arrows {
    padding-left: 15%;
  }
  .votesCounter {
    justify-content: flex-start;
    padding-left: 10%;
  }
}

@media only screen and (min-width: 1200px){
  .votes {
    padding-top: 5%;
  }
  .arrows {
    padding-left: 15%;
  }
  .votesCounter {
    padding-right: 15%;
  }
}