/* GLOBAL CSS */
.profileContainer {
  /* border: 2px solid #D2C8C8; */
  background-color: red;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
/* HEADER */
 .profileHeader {
  background-color: blue;
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  align-items: center;
}
.profileCloseButton{
  background-color: lightskyblue;
  align-self: flex-end;
  flex-basis: 5%;
}
.profileAvatar {
  display: flex;
  flex-basis: 45%;
  
  background-color: lightblue;
  flex-direction: column;
  align-items: center;
}
/*.profileAvatar h2 {
  color: rgb(23, 120, 193);
  font-size: 20px;
  font-weight: bold;
}
.profileAvatar .MuiAvatar-root-9 {
  height: 80px !important;
  width: 80px !important;
}*/
.profileActivity {
  display: flex;
  width: 100%;
  
  flex-basis: 50%;
  background-color: lightskyblue;
}

/*.subTitle {
  text-transform: uppercase;
  color: rgb(154, 155, 170);
} */
/* BODY */
.profileBody {
  background-color: yellow;
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* How it started */
.navigationTable { 
  display: flex;
  flex-basis: 10%;
  background-color: lightyellow;
  justify-content: space-between;
}
/*.navigationTable h2{
  font-style: italic;
  font-weight: bold;
}*/
.profileStatistics {
  display: flex;
  background-color: greenyellow;
  flex-direction: column;
  align-items: center;
  flex: 1 0 45%;
}
.profileStatisticsData {
  display: flex;
  flex-wrap: wrap;
  background-color: lightseagreen;
}
/* Last month activity */
/* .peers {
  transform: rotate(45deg);
}
.peers_text, .findings_text{
  transform: rotate(-45deg);
  transform-origin: 90% 70%;
}
.discussions_text {
  transform: rotate(15deg);
  transform-origin: -90% 220%;
  width: 100%;
}
.questions_text {
  transform: rotate(-4deg);
  transform-origin: 600% -500%;
  width: 100%;
}
.discussions {
  transform: rotate(-15deg);
}
.findings {
  transform: rotate(45deg);
}
.questions {
  transform: rotate(5deg);
}*/
.profileStatisticsData .square {
  background-color: rgb(229,245,253);
  margin-right: 25px;
  width: 100px;
  height: 100px;
}
/* People who joined the platform */
.newPeople {
  display: flex;
  flex-direction: column;
  flex: 1 0 45%;
  background-color: lightgoldenrodyellow;
}
.newPeople .people {
  display: flex;
}
/*.profilePic {
  width: 100px;
  height: 100px;
  background-size: 6px 6px;
  background-image:linear-gradient(45deg, transparent 46%, #E5D4D4 49%, rgb(240, 240, 240) 51%, transparent 55%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.profilePic .MuiAvatar-root-9, .hottest_discussion .MuiAvatar-root-9 {
  height: 60px !important;
  width: 60px !important;
}*/
.person {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*.person h3 {
  padding-top: 10%;
  color: rgb(23, 120, 193);
  font-weight: bold;
  width: 55%;
  text-align: center;
}*/
.profileFooter {
  /* background-color: green; */
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  align-items: center;
  background-size: 6px 6px;
  background-image: linear-gradient(45deg, transparent 46%, #E5D4D4 49%, rgb(240, 240, 240) 51%, transparent 55%);
}
.hottest_discussion_title {
  flex-basis: 10%;
}
.hottest_discussion {
  flex-basis: 45%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*.hottest_discussion img{
  height: 60px;
  border-radius: 50%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.hottest_discussion h5  {
  color: rgb(23, 120, 193);
  font-weight: bold;
}
.hottest_discussion h4  {
  color: rgb(23, 120, 193);
  font-style: italic;
  font-weight: bold;
} */
/* FOOTER */
.hottest_discussion_details {
  display: flex;
  flex-basis: 45%;
  background-color: grey;
}

/* QUERIES */
/*@media only screen and (max-width: 767px) {
  body {
    min-width: 617px;
  }
  .profileContainer {
    font-size: 14px;
  }
  .profileAvatar h2 {
    font-size: 15px;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .profileAvatar img {
    height: 80px;
  }
  .profileActivity {
    display: flex;
    flex-direction: column;
  }
  .profileActivity p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigationTable h2{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
  }
  .profileStatistics {
    padding-top: 5%;
  }
  .profileStatistics .subTitle {
    text-align: center;
  }
  .profileStatisticsData {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 9%;
  }
  .newPeople {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
  }
  .newPeople .subTitle {
    text-align: center;
  }
  .newPeople .people {
    display: flex;
    justify-content: space-around;
    padding-top: 4%;
  }
  .hottest_discussion h5  {
    color: rgb(23, 120, 193);
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 1%;
  }
  .hottest_discussion h4  {
    font-size: 18px;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .hottest_discussion_details {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-top: 10%;
    padding-bottom: 4%;
  }
  .hottest_discussion_details div:nth-child(2), .hottest_discussion_details div:nth-child(4){
    padding-left: 10%;
  }
  .hottest_discussion_details div:nth-child(1), .hottest_discussion_details div:nth-child(2){
    padding-bottom: 2%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
  .profileAvatar h2 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .profileAvatar img {
    height: 100px;
  }
  .profileActivity {
    justify-content: space-around;
  }
  .navigationTable h2{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
  }
  .profileStatistics {
    padding-top: 5%;
  }
  .profileStatisticsData {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
  }
  .newPeople {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 3%;
  }
  
  .newPeople .people {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding-top: 4%;
  }
  .hottest_discussion h4  {
    font-size: 20px;
  }
  .hottest_discussion_details {
    justify-content: space-around;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 3%;
  }
 
}

@media only screen and (min-width: 1200px){
  .profileAvatar h2 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .profileAvatar img {
    height: 100px;
  }
  .profileActivity {
    justify-content: space-around;
  }
  .navigationTable h2{
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
  }
  .profileStatistics {
    padding-top: 5%;
  }
  .profileStatisticsData {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 9%;
  }
  .newPeople {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3%;
    width: 100%;
  }
  .hottest_discussion h4  {
    font-size: 20px;
  }
  .hottest_discussion_details {
    justify-content: space-around;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 3%;
  }
}
*/