.hottest_discussion_title {
  display: flex;
  flex-direction: column;
  flex-basis: 28%;
}
.hottest_discussion_description {
  flex-basis: 28%;
}
.hottest_discussion_avatar {
  max-height: 60px;
  position: relative;
  top: 25px;
  display: flex;
  justify-content: center;
}
.hottest_discussion_article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 50%;
}
.hottest_discussion_article_title {
  color: rgb(2, 102, 182);
  font-style: italic;
  font-weight: bold;
  font-size: calc(20rem / 16);
  flex-basis: 25%;
  letter-spacing: 0.5px;
} 
.hottest_discussion_author {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  flex-basis: 20%;
}
.hottest_discussion_author .person_name {
  padding-right: 2%;
}
.hottest_discussion_statistics {
  background-size: 6px 6px;
  background-image: linear-gradient(45deg, transparent 46%, #E5D4D4 49%, rgb(240, 240, 240) 51%, transparent 55%);
  width: 100%;
  flex-basis: 72%;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hottest_discussion_article_details {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 50%;
}
.hottest_discussion_article_details_item {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: baseline;
}
@media only screen and (max-width: 767px) {
  .hottest_discussion_article_title  {
    font-size: 1rem;
  } 
  .hottest_discussion_article_details {
    font-size: calc(14rem / 16);
  }
  .hottest_discussion_article_details_item {
    justify-content: flex-start;
    flex-basis: 50%;
    padding-left: 5%;
  }
  .hottest_discussion_statistics {
    height: 150px;
  }
  .hottest_discussion_article_details_item_related_peers {
    order: 1;
  }
  .hottest_discussion_article_details_item_related_upvotes {
    order: 2;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
}

@media only screen and (min-width: 1200px){
}