/* How it started */
.navigationTable { 
  /* background-color: lightyellow; */
  display: flex;
  flex-basis: 10%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navigationTable p{
  font-style: italic;
  font-weight: bold;
  font-size: calc(42rem / 16);
  /* font-size: 42px; */
}

.statistic_numbers {
  font-weight: bold;
  font-size: 27px;
}
.profileStatistics {
  /* background-color: greenyellow; */
  display: flex;
  flex: 1 0 45%;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
.profileStatisticsData {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  max-width: 500px;
}
.profileStatisticsData .square {
  background-color: rgba(229,245,253, 0.8);
  width: 90px;
  height: 90px;
}
.peers {
  transform: rotate(45deg);
}

.discussions {
  transform: rotate(-15deg);
}
.findings {
  transform: rotate(45deg);
}
.questions {
  transform: rotate(5deg);
}
.peers_text, .findings_text{
  transform: rotate(-45deg);
  transform-origin: 80% 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.discussions_text {
  transform: rotate(15deg);
  transform-origin: -40% 75%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.questions_text {
  transform: rotate(-4deg);
  transform-origin: 350% 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
/* People who joined the platform */
.newPeople {
  /* background-color: #F9F91D; */
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  justify-content: space-around;
  padding-bottom: 1%;
}
.newPeople .people {
  display: flex;
  flex-basis: 60%;
  flex-grow: 1;
  padding-top: 6%;
  /* padding-bottom: 1%; */
  justify-content: space-between;
}

.newPeople .people .person {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: magenta; */
}
.personAvatar {
  background-size: 6px 6px;
  background-image:linear-gradient(45deg, transparent 46%, #E5D4D4 49%, rgb(240, 240, 240) 51%, transparent 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-basis: 70%;
}
@media only screen and (max-width: 767px) {
  .navigationTable p {
    font-size: 25px;
  }
  .profileBody {
    height: 500px;
  }
  .profileStatisticsData {
    justify-content: center;
    width: 200px;
  }
  .newPeople {
    padding-bottom: 8%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
}

@media only screen and (min-width: 1200px){
}