/* GLOBAL CSS */
.profileContainer {
  box-sizing: border-box;
  background-color: red;
  display: flex;
  flex-direction: column;
  padding: 2%;
}
/* HEADER */
 .profileHeader {
  background-color: blue;
  display: flex;
  height: 20%;
  flex-direction: column;
  align-items: center;
}
.profileCloseButton{
  background-color: lightskyblue;
  align-self: flex-end;
  flex-basis: 5%;
}
.profileAvatar {
  background-color: lightblue;
  display: flex;
  flex-basis: 1 0 45%;
  flex-direction: column;
  align-items: center;
}
.profileAvatar p {
  color: rgb(23, 120, 193);
  font-size: 20px;
  font-weight: bold;
}
.profileAvatar div {
  height: 90px;
  width: 90px;
}
.profileActivity {
  background-color: lightskyblue;
  display: flex;
  width: 100%;
  flex: 1 0 20%;
  align-items: center;
}
.profileActivity .profileActivityItem {
  display: flex;
}
.subTitle {
  text-transform: uppercase;
  color: rgb(154, 155, 170);
  text-align: center;
}

/* BODY */
.profileBody {
  background-color: yellow;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* How it started */
.navigationTable { 
  background-color: lightyellow;
  display: flex;
  flex-basis: 10%;
  justify-content: space-around;
}
.navigationTable p{
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
}
.profileStatistics {
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  flex: 1 0 45%;
  align-items: center;
  width: 60%;
  justify-content: space-around;
}
.profileStatisticsData {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  background-color: #B220AC;
  justify-content: space-between;
}

/* Last month activity */
.peers {
  transform: rotate(45deg);
}
.peers_text, .findings_text{
  transform: rotate(-45deg);
  transform-origin: 135% 30%;
  width: 53%;
  text-align: center;
}
.discussions_text {
  transform: rotate(15deg);
  transform-origin: -90% 220%;
  width: 75%;
  text-align: center;
}
.questions_text {
  transform: rotate(-4deg);
  transform-origin: 600% -500%;
  width: 75%;
  text-align: center;
}
.discussions {
  transform: rotate(-15deg);
}
.findings {
  transform: rotate(45deg);
}
.questions {
  transform: rotate(5deg);
}
.profileStatisticsData .square {
  background-color: rgb(229,245,253);
  width: 90px;
  height: 90px;
}
/* People who joined the platform */
.newPeople {
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
  flex: 1 0 45%;
  justify-content: space-around;
}
.newPeople .people {
  display: flex;
  flex-basis: 60%;
  justify-content: space-between;
}
.newPeople .people .person {
  flex-basis: 30%;
  background-color: magenta;
}
.person {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personAvatar {
  flex-basis: 70%;
  width: 100%;
  background-size: 6px 6px;
  background-image:linear-gradient(45deg, transparent 46%, #E5D4D4 49%, rgb(240, 240, 240) 51%, transparent 55%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.personAvatar div, .hottest_discussion div {
  height: 60px;
  width: 60px;
}
.person p {
  text-align: center;
  width: 55%;
  font-weight: bold;
  color: rgb(23, 120, 193);
}
/* FOOTER */
.profileFooter {
  display: flex;
  height: 25%;
  flex-direction: column;
  align-items: center;
  background-size: 6px 6px;
  background-image: linear-gradient(45deg, transparent 46%, #E5D4D4 49%, rgb(240, 240, 240) 51%, transparent 55%);
}
.hottest_discussion_title {
  flex-basis: 10%;
}
.hottest_discussion {
  flex-basis: 45%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hottest_discussion  {
  color: rgb(23, 120, 193);
}

.hottest_discussion p:nth-child(3)  {
  color: rgb(23, 120, 193);
  font-style: italic;
  font-weight: bold;
} 
.hottest_discussion_details {
  display: flex;
  flex-basis: 45%;
  flex-wrap: wrap;
  background-color: grey;
}
/* QUERIES */
@media only screen and (max-width: 767px) {
  .navigationTable p {
    font-size: 25px;
  }
  .profileHeader {
    flex: 1 0 50%;
  }
  .profileBody {
    flex: 1 0 50%;
  }
  .profileFooter {
    flex: 1 0 50%;
  }
  .profileActivity {
    flex-direction: column;
    align-items: center;
  }
  .profileActivity .profileActivityItem {
    flex-direction: column;
  }
  .profileAvatar p {
    font-size: 17px;
  }
  .profileStatistics {
    height: 300px;
  }
  .profileStatisticsData {
    justify-content: center;
    
  width: 200px;
  }
  .hottest_discussion_details {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
  .profileActivity {
    justify-content: space-around;
  }
  .profileContainer{
    min-height: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1200px){
  .profileActivity {
    justify-content: space-around;
  }
  .profileContainer{
    min-height: 100%;
    height: 100%;
}
}
/* QUERIES */
/*@media only screen and (max-width: 767px) {
  body {
    min-width: 617px;
  }
  .profileContainer {
    font-size: 14px;
  }
  .profileAvatar p {
    font-size: 15px;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .profileActivity {
    display: flex;
    flex-direction: column;
  }
  .profileActivity p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigationTable p{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
  }
  .profileStatistics {
    padding-top: 5%;
  }
  .profileStatistics .subTitle {
    text-align: center;
  }
  .profileStatisticsData {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 9%;
  }
  .newPeople {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
  }
  .newPeople .subTitle {
    text-align: center;
  }
  .newPeople .people {
    display: flex;
    justify-content: space-around;
    padding-top: 4%;
  }
  .hottest_discussion h5  {
    color: rgb(23, 120, 193);
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 1%;
  }
  .hottest_discussion h4  {
    font-size: 18px;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .hottest_discussion_details {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-top: 10%;
    padding-bottom: 4%;
  }
  .hottest_discussion_details div:nth-child(2), .hottest_discussion_details div:nth-child(4){
    padding-left: 10%;
  }
  .hottest_discussion_details div:nth-child(1), .hottest_discussion_details div:nth-child(2){
    padding-bottom: 2%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
  .profileAvatar p {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .profileActivity {
    justify-content: space-around;
  }
  .navigationTable p{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
  }
  .profileStatistics {
    padding-top: 5%;
  }
  .profileStatisticsData {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
  }
  .newPeople {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 3%;
  }
  
  .newPeople .people {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding-top: 4%;
  }
  .hottest_discussion h4  {
    font-size: 20px;
  }
  .hottest_discussion_details {
    justify-content: space-around;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 3%;
  }
 
}

@media only screen and (min-width: 1200px){
  .profileAvatar p {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .profileActivity {
    justify-content: space-around;
  }
  .navigationTable p{
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
  }
  .profileStatistics {
    padding-top: 5%;
  }
  .profileStatisticsData {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 9%;
  }
  .newPeople {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3%;
    width: 100%;
  }
  .hottest_discussion h4  {
    font-size: 20px;
  }
  .hottest_discussion_details {
    justify-content: space-around;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 3%;
  }
}
*/