.profileContainer {
  /* background-color: red; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: min-content;
  height: 100%;
  /* min-height: 1000px !important; */
}
.profileHeader {
  /* background-color: blue; */
  display: flex;
  width: 70%;
  flex-basis: 20%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
  padding-top: 1%;
}
.profileBody {
  /* background-color: yellow; */
  width: 70%;
  padding-top: 2%;
  flex-basis: 50%;
  display: flex;
  border-top: 1px solid #D1CDCD;
  flex-direction: column;
  align-items: center;
}
.profileFooter {
  padding-top: 3%;
  min-width: 100%;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subTitle {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: rgb(131, 144, 154);
}
.person_name {
  color: rgb(2, 102, 182);
  font-weight: bold;
  text-align: center;
  /* width: 55%; */
  /* padding-top: 8%; */
}
@media only screen and (max-width: 767px) {
  .subTitle {
    text-align: center;
    font-size: 0.8em;
  }
  .profileContainer {
    height: fit-content;
  } 
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
  .profileHeader, .profileBody, .profileFooter {
    width: 80%;
  }
  .subTitle {
    /* text-align: center; */
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 1200px){
  .profileFooter {
    padding-bottom: 3%;
  }
}