.allAnswers {
  display: flex;
  flex-basis: content;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.howManyAnswers{
  font-weight: bold;
  font-style: italic;
}
.allAnswers_number {
  font-style: normal;
}

/* QUERIES */
@media only screen and (max-width: 767px) {
  .howManyAnswers{
    font-size: 14px;
    padding-top: 5%;
    padding-bottom: 2%;
  }
  .main_answer .centered_avatar .avatar{
    padding-left: 2%;
  }
  .main_answer .single_question_row_left_item .when {
    font-style: italic;
    color: rgb(100, 105, 111);
    font-size: 12.5px;
  }
  .allAnswers {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
  .howManyAnswers{
    font-size: 18px;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .allAnswers {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px){
  .howManyAnswers{
    font-size: 18px;
    padding-top: 5%;
    padding-bottom: 2%;
  }
  
  .allAnswers {
    width: 100%;
  }
}