.answer {
  box-shadow: 5px -3px 5px rgb(233, 233, 233);
  background-color: white;
  flex: 1 0;
  width: 100%;
}
.answerContainer {
  flex: 1 0;
  width: 100%;
}
.answer_body {
  padding: 2% 3%;
  /* background: red; */

  color: rgb(121, 121, 122);
}
.whoCommented {
  flex-grow: 1;
  color: rgb(2, 102, 182);
  font-weight: bold;
  font-size: calc(15rem / 16);
}
/* Button */
.answerContainer .sticky {
  display:flex;
  justify-content: center;
  position: relative;
  height: 35px;
  top: -15px;
}
.answerContainer .sticky > button {
  font-weight: bold;
  background-color: white;
  border: 1px solid rgb(229, 229, 229);
}

/* Button */
.answerContainer .sticky button:hover {
  background-color: rgb(243, 243, 246);
  box-shadow: 0 0 2px rgb(100, 105, 111);
}

/* QUERIES */
@media only screen and (max-width: 767px) {
  .answer_body {
    padding: 2% 3%;
  }
  .answer_body .whoCommented{
    display: none;
  }
  .answer_body .answer_content{
    padding: 2%;
  }
  .main_answer {
    flex-direction: column;
  }
  .answer .reply {
    border-bottom: 1.5px solid rgb(226, 223, 223);
  }
  .main_answer .centered_avatar {
    display: flex;
    align-items: center;
  }
  .main_answer .centered_avatar .avatar{
    padding-left: 2%;
  }
  .answerContainer .single_question_row_left_item {
    border-bottom: 1.5px solid rgb(225, 225, 225);
  }
  .answer>.main_answer:last-child .single_question_row_right_item {
    padding-bottom: 3%;
  }
  .answer .single_question_row_right_item .border_top{
    border-top: none;
  }
  
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
  .main_answer .answer_body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
    justify-content: space-evenly;
  }
  .answer>.main_answer:last-child .answer_body {
    padding-bottom: 3%;
  }
  .whoCommented{
    padding-top: 3%;
  }
  .answer_content{
    padding: 3% 0%;
  }
  .main_answer .single_question_row_left_item .centered_avatar {
    border-right: none;
  }
  .main_answer .single_question_row_left_item p {
    display: none;
  }
  .answer>.main_answer:last-child .answer_body {
    padding-bottom: 3%;
  }
  .answerContainer .sticky > button {
    padding: 0 2%;
  }
}
@media only screen and (min-width: 1200px){
  .answer_content {
    line-height: calc(20rem / 16);
    padding: 2% 0%;
  }
  .answerContainer .sticky > button {
    padding: 0 2%;
  }
  .answer>.main_answer:last-child .answer_body {
    padding-bottom: 3%;
  }
}