.answer {
  box-shadow: 5px -3px 5px rgb(233, 233, 233);
  background-color: white;
  flex: 1 0;
  width: 100%;
}
.answerContainer {
  flex: 1 0;
  width: 100%;
}
.answer_header {
  color: rgb(121, 121, 122);
}
.whoCommented {
  flex-grow: 1;
  color: rgb(2, 102, 182);
  font-weight: bold;
  font-size: calc(15rem / 16);
  word-spacing: 4px;
}
.whoCommented .subTitle:before {
  content: "\00a0";
}
.whoCommented .subTitle:after {
  content: "\00B7";
  padding-left: 1%;
}
.whoCommented .subTitle {
  font-size: calc(11rem / 16);
}
.whoCommented .when {
  font-style: italic;
  color: rgb(100, 105, 111);
  font-size: calc(12.5rem / 16);
  padding-left: 1%;
}
/* Button */
.answerContainer .sticky {
  display:flex;
  justify-content: center;
  position: relative;
  height: 35px;
  top: -15px;
}
.answerContainer .sticky > button {
  font-weight: bold;
  background-color: white;
  border: 1px solid rgb(229, 229, 229);
}

/* Button */
.answerContainer .sticky button:hover {
  background-color: rgb(243, 243, 246);
  box-shadow: 0 0 2px rgb(100, 105, 111);
}

/* QUERIES */
@media only screen and (max-width: 767px) {
  .answer_header p:nth-child(1){
    display: none;
  }
  .answer_header p:nth-child(2){
    padding: 2%;
  }
  .main_answer {
    flex-direction: column;
  }
  .answer .reply {
    border-bottom: 1.5px solid rgb(226, 223, 223);
  }
  .main_answer .centered_avatar .avatar{
    padding-left: 2%;
  }
  .whoCommented {
    padding-left: 5%;
  }
  .answerContainer .single_question_row_left_item {
    border-bottom: 1.5px solid rgb(225, 225, 225);
  }
  .answerContainer .sticky button{
    padding: 4% 8%;
  }
  .answerContainer .sticky > button {
    padding: 0 4%;
  }

}
@media only screen and (min-width: 768px) and (max-width: 1200px){
  .main_answer .answer_header {
    padding-top: 3%;
  }
  .main_answer .single_question_row_left_item .centered_avatar {
    border-right: none;
  }
  .main_answer .single_question_row_left_item p {
    display: none;
  }
  
  .main_answer .single_question_row_right_item{
    padding-top: 3%;
  }
  .answer_header {
    padding-left: 3%;
  }
  .answer_header p:nth-child(2){
    line-height: 20px;
    padding-right: 7%;
  }
  .answer_header p:nth-child(1), .answer_header p:nth-child(2){
    padding-bottom: 3%;
  }
  .answerContainer .sticky > button {
    padding: 0 2%;
  }
}
@media only screen and (min-width: 1200px){
  .main_answer .single_question_row_middle_item {
    padding-top: 1.5%;
    padding-left: 1.5%;
  }
  .answer_header p:nth-child(2){
    line-height: 20px;
  }
  .answer_header p:nth-child(1), .answer_header p:nth-child(2){
    padding-bottom: 2%;
  }
  .answerContainer .sticky > button {
    padding: 0 2%;
  }
}