.HorizontalDivider {
  border-bottom: 1px solid #D1CDCD;
  box-shadow: 1px 1px 1px #D1CACA;
}
.VerticalDivider {
  border-right: 1px solid rgb(238, 238, 238);
  box-shadow: 0px 0px 1px rgb(238, 238, 238);
}