.HorizontalDivider {
  border-bottom: 1px solid #D1CDCD;
  box-shadow: 1px 1px 1px #D1CACA;
  margin-top: 3%;
  margin-bottom: 3%;
}
.VerticalDivider {
  border-right: 2px solid #D1CDCD;
  box-shadow: 1px 1px 1px #FBEFEF;
}