.search_header {
  flex-direction: column;
  min-height: 165px;
}

/* Add question */
.add_question {
  display: flex;
  font-size: calc(30rem / 16);
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
   /* background-color: pink;  */
}
 .add_question .add_button {
  color: rgb(2, 102, 182);
} 
.question_and_sort {
  width: 82.5%;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  flex-basis: 45%;
  /* background-color: pink; */
}
.question_and_sort .add_question {
  flex-grow: 1;
}
.search_header_return_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 20%;
}
.search_header_question_details {
  flex-basis: 20%;
}
.search_header_question_details form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.search_header_sort_by {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 20%;
  font-style: italic;
}

.search_header_sorting {
  display: flex;
  min-width: 55%;
  flex-basis: 60%;
  align-items: baseline;
  justify-content: space-evenly;
}
.search_header_sort_by a {
  color: rgb(2, 102, 182);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

.search_header_sort_by .currentSelection{
  text-decoration: underline;
  font-style: normal;
  color: rgb(202, 204, 205);
  font-weight: bold;
  pointer-events: none;
}
.search_header_sort_by .currentSelection:hover{
  cursor: default;
}

/* Search */
.search {
  margin-left: -1%;
  width: 66%;
  flex-basis: 10%;
}
.search form {
  display: flex;
  justify-content: space-between;
}
.search input[type=text] {
  flex-basis: 75%;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  color: rgb(2, 102, 182); 
  font-size: 16px;
  border: 2px solid rgb(242, 242, 242);
  box-sizing: border-box;
  background-color: rgb(251, 251, 251);
     /* background-color: yellow;    */
}

.search button{
  flex-basis: 23%;
  background-color: white;
  border: 2px solid rgb(202, 204, 205);
  color: rgb(216, 215, 216);
  font-weight: bold;
  font-size: calc(16rem / 16);
  text-transform: uppercase;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  /* HEADER */
  .search_header {
    flex-basis: 25%;
    padding-bottom: 2%;
  }
  /* Add question */
  .search_header_return_arrow {
    flex-basis: 30%;
  }
  .question_and_sort .add_question {
    flex-basis: 70%;
  }
  .question_and_sort {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }
  .search_header_question_details {
    flex-basis: 55%;
    font-size: 13px;
  }
  .search_header_question_details form {
    justify-content: center;
  }
  .search_header_question_details div {
    display: flex;
    align-items: flex-end;
  }
  .search_header_sort_by {
    flex-basis: 45%;
    justify-content: center;
    font-size: 13px;
  }
  
  .search_header_sorting {
    flex-basis: 90%;
  }
  
  /* Search */
  .search {
    width: 100%;
  }
  .search form {
    justify-content: space-around;
  }
  .search input[type=text] {
    flex-basis: 75%;

  }
  .search button{
    flex-basis: 20%;

  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
  /* HEADER */

 /* Add question */
 

 .question_and_sort {
   width: 100%;
  }
  .search_header_return_arrow {
    flex-basis: 15%;
  }
 .question_and_sort .add_question {
   flex-basis: 35%;
 }
 
 .search_header_question_details {
   justify-content: space-between;
   flex-basis: 35%;
 }
 .search_header_question_details form{
   justify-content: space-around;
 }
 .search_header_question_details.hidden {
   flex-basis: 10%;
 }
  .search_header_sort_by {
    flex-basis: 30%;
    justify-content: center;
  }
  
  .search_header_sorting {
    flex-basis: 90%;
  }
  
  .search input[type=text] {
    flex-basis: 73.5%;
  }
  .search button{
    flex-basis: 20%;
  }
 
  /* Search */


  .search {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
  }
  .search form {
    justify-content: space-around;
  } 



  /* BODY */
}
