.all_questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; 
  flex-basis: 75%;
}

.all_questions_load_more {
  flex-basis: 10%;
  flex-shrink: 0;
  width: 70%;
  display: flex;
}
