/* Add question */
.question_and_sort {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items:center;
} 
.question_details{ 
  display: flex;
}
/* Search */
.search {
  align-self: center;
}
input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}
