.all_questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* min-height: 100%; */
  /* max-height: 100%; */
}
.mycontent {
  height: 500px;
  width: 600px;
  background-color: red;
  /* display: flex; */
}
.all_questions_load_more {
  background-color: green;
  flex-basis: 10%;
  flex-shrink: 0;
  width: 70%;
  display: flex;
}
/* Add question */
.question_and_sort {
  background-color: green;
  width: 83.3%;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}
.search_header_return_arrow {
  background-color: yellow;
  flex-basis: 20%;
}
.question_and_sort .add_question {
  flex-grow: 1;
  flex-basis: 30%;
  display: flex;
}
.search_header_question_details {
  display: flex;
  background-color: red;
  flex-basis: 30%;
}
.search_header_sort_by {
  background-color: yellow;
  display: flex;
  flex-basis: 16%;
}
/* Search */
.search_header {
  flex-direction: column;
  background-color: black;
}
.search {
  width: 66.6%;
  background-color: yellow;
}
.search input[type=text] {
  width: 80%;
  background-color: magenta;
}
.search button{
  width: 20%;
  background-color: magenta;
}
input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: white;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

@media only screen and (max-width: 767px) {
  .question_and_sort {
    width: 100%;
    flex-wrap: wrap;
  }
  .search_header_return_arrow {
    flex-basis: 30%;
  }
  .question_and_sort .add_question {
    flex-basis: 70%;
  }
  .search_header_question_details {
    flex-basis: 50%;
  }
  .search_header_sort_by {
    flex-basis: 50%;
  }
  .search {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
  .question_and_sort {
    width: 100%;
    flex: wrap;
  }
  .search {
    width: 100%;
  }
  .question_and_sort .add_question {
    flex-grow: 0;
  }
  .search_header_sort_by {
  flex-basis: 20%;
  }
}