.all_questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* min-height: 100%; */
  /* max-height: 100%; */
}

/* Body */
.mycontent {
  height: 500px;
  width: 600px;
  background-color: red;
  /* display: flex; */
}
.all_questions_load_more {
  background-color: green;
  flex-basis: 10%;
  flex-shrink: 0;
  width: 70%;
  display: flex;
}

/* Header*/
.search_header {
  display: flex;
  flex-direction: column;
  /* background-color: #174CDA; */
}
/* Add question */
.question_and_sort {
  width: 82.5%;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  /* background-color: #10ED1D; */
}
.search_header_return_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 20%;
  /* background-color: yellow; */
}
.add_question {
  display: flex;
  flex-grow: 1;
  flex-basis: 30%;
  font-size: calc(30rem / 16);
  align-items: center;
  /* background-color: yellow; */
}
.add_question p{
  padding-right: 5%;
}
.search_header_question_details {
  flex-basis: 26%;
}
.search_header_question_details form{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  /* background-color: #0033FF; */
}

.search_header_sort_by {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 20%;
  font-style: italic;
  /* background-color: #00E6FF; */
}
.search_header_sort_by .recent{
  text-decoration: underline;
  font-style: normal;
  color: grey;
  font-weight: bold;
}
.search_header_sort_by .hot{
  color: blue;
  font-weight: bold;
  font-style: normal;
}
/* Search */
.search {
  margin-left: -1%;
  padding-top: 1%;
  width: 66%;
  /* background-color: #009DFF; */
}
.search form {
  display: flex;
  justify-content: space-between;
}
.search input[type=text] {
  flex-basis: 75%;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  color: rgb(216, 215, 216);
  font-size: 16px;
  border: 2px solid rgb(242, 242, 242);
  box-sizing: border-box;
  background-color: rgb(251, 251, 251);
}

.search button{
  flex-basis: 20%;
  background-color: white;
  border: 2px solid rgb(202, 204, 205);
  color: rgb(216, 215, 216);
  font-weight: bold;
  font-size: calc(16rem / 16);
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  /* HEADER */
  .search_header {
    flex-basis: 25%;
    padding-bottom: 2%;
  }
  .question_details {
    width: 100%;
  }
  /* Add question */
  .search_header_return_arrow {
    flex-basis: 30%;
    /* background-color: green; */
  }
  .question_and_sort .add_question {
    flex-basis: 70%;
    /* background-color: #6CDD6C; */
  }
  .question_and_sort {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }
  .search_header_question_details {
    flex-basis: 55%;
    font-size: 13px;
    background-color: yellow;
  }
  .search_header_question_details form {
    justify-content: center;
  }
  .search_header_question_details div {
    display: flex;
    align-items: flex-end;
  }
  .search_header_sort_by {
    flex-basis: 45%;
    justify-content: center;
    font-size: 13px;
    /* background-color: pink; */
  }
  /* Search */
  .search {
    width: 100%;
  }
  .search form {
    justify-content: space-around;
  }
  .search input[type=text] {
    flex-basis: 75%;

  }
  .search button{
    flex-basis: 20%;

  }
  /* BODY */ 
  .all_questions {
    flex-basis: 75%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
  /* HEADER */

 /* Add question */
 .question_and_sort {
   width: 100%;
  }
  .search_header_return_arrow {
    flex-basis: 15%;
    /* background-color: yellow; */
  }
 .question_and_sort .add_question {
   flex-basis: 35%;
   /* background-color: #FF0023; */
 }
 .add_question p{
   padding-right: 15%;
 }
 
 .search_header_question_details {
   justify-content: space-between;
   flex-basis: 35%;
   /* background-color: #83FF00; */
 }
 .search_header_question_details form{
   justify-content: space-around;
 }
  .search_header_sort_by {
    flex-basis: 30%;
    justify-content: center;
    /* background-color: #00E6FF; */
  }
  
  .search input[type=text] {
    flex-basis: 73.5%;
  }
  .search button{
    flex-basis: 20%;
  }
 
  /* Search */
  .search {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
  }
  .search form {
    justify-content: space-around;
  } 
  /* BODY */
  .question_details {
    width: 100%;
  }

}