.question_details_header { 
  display: flex;
}
.question_details_avatar{
  flex: 0 0 10%;
}
.question_details_mainQuestion{
  flex: 0 0 70%;
}
/* BODY */
.question_details_body {
  display: flex;
}
.question_details_asked{
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.question_details_asked p{
  border-top: 2px solid grey;
}
.question_details_content{
  flex: 0 0 70%;
  background-color: white;
  display: flex;
  padding-top: 4%;
}
.question_details_popularity{
  flex: 0 0 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Boxes */
.question_details_content_box {
  background-color: #D6D0D0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question_details_content_box img {
  height: 60px;
  border-radius: 50%;
}
.profile_img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more_activities {
  background-color: white;
}
.commented {
  color: grey;
  border-top: 2px solid grey;
  background-image: radial-gradient(circle at center, grey 5px, transparent 5px), radial-gradient(circle at center, grey 5px, transparent 5px);
}
.answered {
  border-top: 2px solid black;
  background-image: radial-gradient(circle at center, black 5px, transparent 5px), radial-gradient(circle at center, black 5px, transparent 5px);
}