.question_details {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  flex-shrink: 0;
  background-color: white;
  box-shadow: 1px 1px 5px #BAB7B7;
  width: 70%;
}
.question_details_header { 
  display: flex;
  flex: 0 0 26%;
  width: 75%;
  background-color: rgb(233, 243, 253);
}
.question_details_avatar{
  flex: 0 0 15%;
}
.question_details_mainQuestion{
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.question_details_mainQuestion .whoIsAsking {
  flex-basis: 30%;
}
.question_details_mainQuestion .user_question {
  flex-basis: 30%;
}
/* BODY */
.question_details_body {
  flex: 0 0 58%;
  display: flex;
}
.question_details_content {
  flex: 0 0 75%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.question_details_popularity{
  flex: 0 0 25%;
  height: 80%;
  padding-left: 6%;
  display: flex;
  align-self: flex-end;
  background-color: lightblue;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.question_details_popularity_item {
  display: flex;
  align-items: baseline;
}
@media only screen and (min-width: 768px) and (max-width: 1199px){
  .question_details {
    width: 80%;
  }
  .question_details_header {
    width: 100%;
  }
  .commented {
    display: none;
  }
  .item_asked, .answered, .more_activities {
    flex-basis: 30%;
  }
  .question_details_content {
    flex-basis: 60%;
  }
  .question_details_popularity {
    flex-grow: 1;
  }
}
@media only screen and (max-width: 767px) {
}