.question_details {
  background-color: white;
  box-shadow: 1px 1px 5px #BAB7B7;
  display: flex;
  flex-direction: column;
  width: 70%;
  flex-basis: 30%;
  flex-shrink: 0;
}
.question_details_header { 
  background-color: rgb(233, 243, 253);
  display: flex;
  flex: 0 0 26%;
  width: 75%;
}
.question_details_avatar{
  flex: 0 0 10%;
}
.question_details_mainQuestion{
  flex: 0 0 70%;
}
/* BODY */
.question_details_body {
  flex: 0 0 58%;
  display: flex;
}
.question_details_content {
  flex: 0 0 75%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.item .avatar {
  display: flex;
  background-color: red;
  flex-basis: 70%;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  background-color: lightyellow;
  flex-direction: column;
  flex-basis: 15%;
  height: 80%;
  justify-content: space-between;
  align-items: center;
}
.item_asked {
  height: 100%;
  background-color: rgb(233, 243, 253);
}
.more_activities {
  background-color: white;
}
.commented {
  background-color: rgb(238, 238, 238);
}
.question_details_popularity{
  flex: 0 0 25%;
  height: 80%;
  padding-left: 6%;
  display: flex;
  align-self: flex-end;
  background-color: lightblue;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.popularity {
  display: flex;
  flex-basis: 70%;
  /* justify-content: center; */
  align-items: center;
}
.item .item_status {
  font-size: calc(10em / 16);
  flex-basis: 30%;
  /* font-size: 10px; */
}