.hidden {
  visibility: hidden;
}
.small_circle:after {
  content: "\00B7";
}

/* Numbers */
.bold_number_big {
  font-weight: bold;
  font-size: calc(27em / 16);
}
.bold_number_medium {
  font-weight: bold;
  font-size: calc(20rem / 16);
}
.bold_number_small {
  font-weight: bold;
  font-size: 1rem;
}
.bold_number_big:after,.bold_number_medium:after,.bold_number_small:after {
  content: "\00a0";
}
/* Borders */
.border_top {
  border-top: 1px solid rgb(229, 229, 229);
}
/*Buttons  */

/* User */
.clickable_text:hover {
  color: grey;
  text-shadow: 0 0 1px white;
  cursor: pointer;
}
.person_name {
  background: lightgreen;
  font-size: 1rem;
  color: rgb(2, 102, 182);
  font-weight: bold;
  text-align: center;
}
.user_question {
  font-style: italic;
  color: rgb(0, 101, 182);
  font-weight: bold;
  font-size: calc(18rem/16);
}
.subTitle {
  background-color: lightgrey;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: rgb(131, 144, 154);
  text-align: center;
}
.info_text {
  background-color: lightcoral;
  font-size: calc(14rem / 16);
  font-style: italic;
  color: rgb(75, 74, 76);
}
.link_text {
  background-color: lightcoral;
  font-size: calc(14rem / 16);
  font-style: italic;
  color: rgb(75, 74, 76);
}
.link_text_big {
  background-color: lightcoral;
  font-size: calc(14rem / 16);
  font-style: italic;
  color: rgb(75, 74, 76);
}