.hidden {
  visibility: hidden;
}
.small_circle:after {
  content: "\00B7";
}
/* Header */
.add_question {
  display: flex;
  font-size: calc(30rem / 16);
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
  /* background-color: pink; */
}
/* Numbers */
.bold_number_big {
  font-weight: bold;
  font-size: calc(27em / 16);
}
.bold_number_medium {
  font-weight: bold;
  font-size: calc(20rem / 16);
}
.bold_number_small {
  font-weight: bold;
  font-size: 1rem;
}
.bold_number_big:after,.bold_number_medium:after,.bold_number_small:after {
  content: "\00a0";
}
/* Borders */
.border_top {
  border-top: 1px solid rgb(229, 229, 229);
}
/*Buttons  */
 .add_question .add_button {
  color: rgb(2, 102, 182);
} 
/* User */
.clickable_user_name:hover {
  color: grey;
  text-shadow: 0 0 1px white;
  cursor: pointer;
}
.person_name {
  font-size: 1rem;
  color: rgb(2, 102, 182);
  font-weight: bold;
  text-align: center;
}
.user_question {
  font-style: italic;
  color: rgb(0, 101, 182);
  font-weight: bold;
  font-size: calc(18rem/16);
}
.subTitle {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: rgb(131, 144, 154);
  text-align: center;
}
.info_text {
  font-size: calc(14rem / 16);
  font-style: italic;
  color: rgb(75, 74, 76);
}