/* HEADER */
.single_question_header {
  display: flex;
  width: 100%;
  /* background-color: yellow; */
}
.returnArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 16.8%;
  /* background-color: greenyellow; */
}
.single_question_header .add_question {
  display: flex;
  flex-basis: 40%;
  align-items: center;
  text-transform: uppercase;
  /* background-color: pink; */
}
.single_question_header .add_question p {
  font-size: calc(35rem / 16);
  font-weight: bold;
}
.single_question_header .add_question p:after {
  content: "\00a0 \00a0";
}
.add_question .add_button {
  color: rgb(2, 102, 182);
}
.last_discussed {
  font-style: italic;
  flex-basis: 25.5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(121, 121, 122);
  /* background-color: orchid; */
}
.last_discussed .number:before, .last_discussed .number:after  {
  content: "\00a0 \00a0";
}

.last_discussed .number {
  font-style: normal;
}

/* Single question body */
.clickable_user_name:hover {
  color: grey;
  text-shadow: 0 0 1px white;
  cursor: pointer;
}
.single_question_row {
  display: flex;
}
.single_question_row .single_question_row_left_item{
  /* background-color: red; */
  flex-basis:10%;
}
.single_question_row .single_question_row_middle_item{
  /* background-color: blue; */
  flex: 1 0 50%;
}
.single_question_row .single_question_row_right_item{
  /* background-color: green; */
  flex-basis:20%;
}
.single_question_row .single_question_row_empty_space{
  background-color: rgb(251, 251, 251);
  flex-basis: 10%;
}
.centered_avatar {
  border-right: 1px solid rgb(238, 238, 238);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.single_question{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* QUERIES */
@media only screen and (max-width: 767px) {
  /* Single question header */
  .app_top_section {
    border-bottom: 2px solid rgb(204, 211, 214);
  }
  .returnArrow {
    display: flex;
    flex-basis: 15%;
  }
  .single_question_header .add_question{
    justify-content: space-between;
    padding-right: 5%;
    flex-basis: 85%;
  }
  /* Single question body */
  .single_question_row_left_item {
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 2px solid white;
  }
  .last_discussed {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
   /* Single question header */
   .returnArrow {
    flex-basis: 12%;
  }
   .single_question_header .add_question{
    flex-basis: 53%;
  }
  .last_discussed {
    flex-basis: 35%;
    justify-content: center;
  }
}

@media only screen and (min-width: 1200px){
  /* Single question body */
  .questionHeader .single_question_row_middle_item {
    padding-left: 1%;
  }
}