.lastInteraction {
  font-size: 18px;
}
.single_question{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single_question_row {
  display: flex;
}
.single_question_row .single_question_row_left_item{
  /* background-color: red; */
     flex: 0 0 10%;
   }
   .single_question_row .single_question_row_right_item{
    /* background-color: green; */
     flex: 0 0 20%;
   }
   .single_question_row .single_question_row_middle_item{
    /* background-color: blue; */
    flex: 1 0 60%;
  }
  .single_question_row .single_question_row_middle_item_long{
    /* background-color: blueviolet; */
    flex: 0 0 70%;
  }
  .single_question_row .single_question_row_empty_space{
    background-color: rgb(251, 251, 251);
    flex: 0 0 10%;
  }
.centered_avatar {
  display: flex;
  justify-content: center;
  align-self: center;
}

/* QUERIES */
@media only screen and (max-width: 767px) {
  .app_content{
    margin: 0;
  }
  .app_top_section {
    height: 90px;
    justify-content: space-around;
  }
  .app_top_section .add_question{
    justify-content: space-around;
    font-size: 45px;
    width: 90%;
  }
  .app_top_section .returnArrow {
    margin-right: -25%;
  }
  .app_top_section .lastInteraction {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
  .app_body {
    height: 100%;    
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 225, 173);
    box-sizing: border-box;
  }
 
}

@media only screen and (min-width: 1200px){
  .app_body {
    height: 100%;    
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 225, 173);
    box-sizing: border-box;
  }
}