
/* Single question header */
.last_discussed {
   display: flex; 
   justify-content: flex-end; 
   align-items: center; 
}
.last_discussed .bold_number_small:before, .last_discussed .bold_number_small:after  {
  content: "\00a0 \00a0";
}
/* Single question body */
.single_question_row {
  display: flex;
}
.single_question_row .single_question_row_left_item{
  /* background-color: red; */
  flex-basis:10%;
}
.single_question_row .single_question_row_middle_item{
  /* background-color: lightblue; */
  flex: 1 0 50%;
}
.single_question_row .single_question_row_right_item{
  /* background-color: green; */
  flex-basis:20%;
}
.single_question_row .single_question_row_empty_space{
  background-color: rgb(251, 251, 251);
  flex-basis: 10%;
}
.centered_avatar {
  border-right: 1px solid rgb(238, 238, 238);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.single_question{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whoCommented, .whoIsAsking  {
  display: flex;
  align-items: baseline;
}
.whoCommented>*:after, .whoIsAsking>*:after {
  content: "\00a0";
}
.whoCommented>.subTitle:after{
  content: "\00a0\00B7";
}

/* QUERIES */
@media only screen and (max-width: 767px) {
  /* Single question header */
  .app_top_section {
    border-bottom: 2px solid rgb(204, 211, 214);
  }

  /* Single question body */
  .single_question_row_left_item {
    padding-top: 2%;
    padding-bottom: 2%;
     border-bottom: 2px solid white; 
  }
  .last_discussed {
    display: none;
  } 
  .single_question_row_middle_item .whoIsAsking.big-device {
    display: none;
  }
  .single_question_row_left_item .avatar {
    padding-right: 5%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
   /* Single question header */
  .last_discussed {
    flex-basis: 40%;
    flex-grow: 1;
    justify-content: center;
  }
  .single_question_row_left_item .whoIsAsking {
    display: none;
  }
  .single_question_row_left_item .whoCommented {
    display: none;
  }
  .single_question_row_left_item .whoIsAsking {
    display: none;
  }
}

@media only screen and (min-width: 1200px){
  /* Single question body */
  .questionHeader .single_question_row_middle_item {
    padding-left: 1%;
  }
  .single_question_row_left_item .whoCommented {
    display: none;
  }
  .single_question_row_left_item .whoIsAsking {
    display: none;
  }
}