.last_discussed {
  font-size: 18px;
}
.question_and_last_discussed {
  display: flex;
}
.single_question_row {
  display: flex;
}
.single_question_row .single_question_row_left_item{
  /* background-color: red; */
  flex-basis:10%;
}
.single_question_row .single_question_row_middle_item{
  /* background-color: blue; */
  flex: 1 0 50%;
}
.single_question_row .single_question_row_right_item{
  /* background-color: green; */
  flex-basis:20%;
}
.single_question_row .single_question_row_empty_space{
    background-color: rgb(251, 251, 251);
    flex-basis: 10%;
}
.centered_avatar {
  border-right: 2px solid rgb(238, 238, 238);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.single_question{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question_and_last_discussed .add_question {
	display: flex;
  justify-content: space-around;
  width: 10%;
  font-size: 25px;
}

/* QUERIES */
@media only screen and (max-width: 767px) {
  .single_question_row_left_item {
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 2px solid white;
  }
  .question_and_last_discussed .add_question{
    font-size: 45px;
    width: 90%;
  }
  .last_discussed {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
  .question_and_last_discussed .add_question{
    font-size: 35px;
  }
  .single_question_row .single_question_row_middle_item{
    /* background-color: blue; */
    flex: 1 0 50%;
    padding-left: 2.5%;
  }
}


@media only screen and (min-width: 1200px){
.questionHeader .single_question_row_middle_item {
  padding-left: 1%;
}
}